<?xml version="1.0" encoding="utf-8"?>
<!-- This file is used to prevent conflicts in machines
    that have private package sources configured -->
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
     <clear />
  </disabledPackageSources>
</configuration>
