source https://api.nuget.org/v3/index.json
framework: netstandard2.0
storage: none

nuget FSharp.Core redirects:force
nuget Fable.Core ~> 2.0.0
nuget Fable.Elmish ~> 3 beta
nuget Fable.Elmish.React ~> 3 beta
nuget Fable.Elmish.Debugger ~> 3 beta
nuget Fable.Elmish.HMR ~> 4 beta
nuget Fable.Import.AutosuggestHighlight ~> 1
nuget Fable.Import.Downshift ~> 1
nuget Fable.Import.Electron ~> 0
nuget Fable.Import.MatchSorter ~> 1
nuget Fable.Import.Node ~> 0
nuget Fable.MaterialUI ~> 3
nuget Fable.MaterialUI.Icons ~> 1
nuget Fable.MaterialUI.MaterialDesignIcons ~> 1
nuget Fable.Promise ~> 1
nuget Fable.React ~> 4

group FakeBuild
  source https://api.nuget.org/v3/index.json
  framework: netstandard2.0
  storage: none

  clitool dotnet-fake
  clitool dotnet-fable
  nuget Fake.Core.Target
  nuget Fake.DotNet.Cli
  nuget Fake.JavaScript.Yarn
